/* Apply Roboto to the entire site */
body {
    font-family: 'Roboto', sans-serif; /* Use Roboto as the main font */
    text-align: center; /* Center-align text */
    margin: 0; /* Remove default margin */
    background-color: #a7edff; /* Set background color to light pink */
}

/* Center and style the main container */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Style the question */
#question {
    font-family: 'Roboto'; /* Keep Sacramento for the main question */
    font-size: 52px;
}

/* Style the options */
#options {
    margin-top: 20px;
}

/* Style buttons */
button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif; /* Apply Roboto font to buttons */
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Make buttons rounded */
}

/* Button hover effect */
button:hover {
    background-color: #ff2e63;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
